.skipLink {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  z-index: 10000;
  font-weight: 600;
}

.skipLink:focus {
  top: 0;
  outline: 2px solid #fff;
  outline-offset: -2px;
}

