.BannerWrapper {
  background: url("/assets/images/gentle-dental-home-page-hero-banner-image.webp")
    no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.BannerContent {
  padding: 0px 15px;
  margin: 60px 141px 0;
  width: 100%;
}

.BannerTitle {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.BannerSubtitle {
  font-size: 54px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.SearchBar {
  display: flex;
  align-items: center;
  background-color: #145091;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 24px;
  gap: 12px;
  max-width: 1190px;
  height: 81px;
}

.SearchInputWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  height: 100%;
}

.LocationIcon {
  width: 34px;
  height: 44px;
  object-fit: contain;
  position: absolute;
  left: 17px;
  z-index: 1;
  margin-left: 20px;
}

.SearchInput {
  color: #fff;
  background: #0f3f7e;
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  height: 100%;
  padding-left: 60px;
  width: 100%;
  margin: 8px 0 8px 20px;
}

.SearchInput::placeholder {
  color: #fff;
}

.SearchButton {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ab4399;
  border: none;
  border-radius: 4px;
  padding: 17px 50px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.SearchButton:hover {
  background-color: #6d28d9;
}

.FeaturesSection {
  background-color: #f9f9f9;
  width: 100%;
  height: 450px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
}

.FeaturesContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.FeatureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  padding: 30px;
  min-height: 410px;
}

.FeatureCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.FeatureTitle {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 24px;
}

.FeatureIcon {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.FeatureDescription {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin: 0;
}

@media (max-width: 968px) {
  .FeaturesContainer {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
